<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h5 class="text-center">本当に退会しますか？</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-md-1">
      <h6 class="text-center">
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h6>
    </div>
  </div>
  <br>
  <div class="row offset-md-2">
    <div class="col-4 mb-4">
      <%= link_to "退会しない", customers_path, class:"btn btn-primary" %>
    </div>
    <div class="col-4 mb-4">
      <%= link_to "退会する", customers_withdrawal_path, class:"btn btn-danger", method: :patch, data: { confirm: "本当に退会しますか？" } %>
    </div>
  </div>
</div>
