<h4 class="m-5 w-25 bg-light text-center">ジャンル編集</h4>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
    <%= form_with model: @genre, url: admin_genre_path do |f| %>
      <table>
        ジャンル名&ensp;&ensp;
        <%= f.text_field :name %>&ensp;&ensp;
        <%= f.submit '変更を保存', class: 'btn btn-success' %>
      </table>
    <% end %>
